<!-- DRAWER -->
<div id="drawerOverlay" class="drawer-overlay" onclick="closeDrw()"></div>

<div id="drawer" class="drawer">

  <div class="drawer-head">
    <div class="drawer-title">Menu</div>
    <button class="drawer-close" onclick="closeDrw()">×</button>
  </div>

  <a href="/">Home</a>
<a href="/product-list">All Product</a>

<div id="drawerMenuLinks"></div>

<a href="/login" class="login-btn">👤 Login</a>
<a href="/profile" class="account-btn" style="display:none;">👤 Account</a>
<a href="javascript:void(0)" onclick="logoutUser()" class="account-btn logout-btn" style="display:none;">🚪 Logout</a>

</div>